<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153060288091-v69acrr75o7je7obk50kqemc8eitg30j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153060288091-v69acrr75o7je7obk50kqemc8eitg30j</string>
	<key>API_KEY</key>
	<string>AIzaSyCGoo2z2HMY3F73b15XCj2RP1X-kz9-5Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>153060288091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.franciskavigh.RiskMaster</string>
	<key>PROJECT_ID</key>
	<string>riskmaster-3a17c</string>
	<key>STORAGE_BUCKET</key>
	<string>riskmaster-3a17c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153060288091:ios:429de2f9b7cef1ffac417e</string>
</dict>
</plist>